<!DOCTYPE html>
{% extends "layout.html" %}
{% block main %}
<div class="container">
    {% for message in get_flashed_messages(with_categories=True) %}
    <div class="alert alert-{{ message[0] }}">
        {{ message[1] }}
    </div>
    {% endfor %}
</div>



<p><h2>Please input your userId and password</h2></p>
<form action='login' method='POST'>
<input type='text' name='userId' id='id' placeholder='User ID'/>
<input type='password' name='password' id='password' placeholder='password'/>
<input type='submit' name='Sign-in'/>
</form>
{% endblock %}

