<!DOCTYPE html>
{% extends "layout.html" %}

{% block main %}


{% if event == 'NoData' %}
<p>Authantication to openapi failed or there has no event under this account.</p>
{% elif account != 'no_input' %}
<p>List all event under Account: {{ account }}.</p>
<p>From {{ start }} to {{ end }}.</p>
<table border="1" style="word-break:normal; word-wrap:break-all;"  align="center">
    <thead>
    </thead>
    <tbody>
      <meta charset="UTF-8">
        {% for fileId in range(fileNum) %}
        <tr>
            <td align="center" >
                <p>File {{ fileId }}</p>
            </td>
            <td align="left" >
                <p>DATE: {{ fileProverty[fileId]['date'] }}</p>
                <p>NUM: {{ fileProverty[fileId]['num'] }}</p>
                <p>START_TS: {{ fileProverty[fileId]['first_event_ts'] }}</p>
                <p>END_TS: {{ fileProverty[fileId]['last_event_ts'] }}</p>
                <p>HAS_MORE: {{ fileProverty[fileId]['has_more'] }}</p>
                <p><a href="{{ fileProverty[fileId]['path'] }}">DOWNLOAD ZIP</a></p>
            </td>
        </tr>
        {% endfor %}
        <tr>
            <td align="center" >
                <p>Raw event info</p>
            </td>
            <td align="left" >
                <p>DATE: {{ eventProverty['date'] }}</p>
                <p>NUM: {{ eventProverty['num'] }}</p>
                <p>START_TS: {{ eventProverty['first_event_ts'] }}</p>
                <p>END_TS: {{ eventProverty['last_event_ts'] }}</p>
                <p>HAS_MORE: {{ eventProverty['has_more'] }}</p>
            </td>
        </tr>
         
        {% for eventId in range(eventNum) %}
        <tr>
            <td align="center" >
                <p>event {{ eventId }}</p>
            </td>
            <td align="left" >
                {% for key in event[eventId] %}
                <p>{{ key }}: {{ event[eventId][key] }}</p>
                {% endfor %}
            </td>
        </tr>
      {% endfor %}
    </tbody>
</table>
{% endif %}

{% endblock %}

{% block footer %}
<form action="/tool/list-event" name="listEvent">
    Testing Account: <input type="email" name="account">
    Testing Account's Password: <input type="password" name="password">
    Start timestamp of event: <input type="int" name="start">
    End timestamp of event: <input type="int" name="end">
    <input type="submit" value="查詢">
</form>

{% endblock %}
