[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jsonschema = "*"
sortedcontainers = "*"
sre-yield = "*"
aiohttp = "*"
git-pylint-commit-hook = "*"

[requires]
python_version = "3.6"
